{% extends 'MyAppCovoiturageBundle::layout.html.twig' %}
{% block body %}

<table>
    {% for t in trajets %}
         <tr>
            <td> <a href="{{path('trajet_show', { 'id':t.id }) }}"> {{ t.villeDepart}}---> {{t.villeArrive}} </a></td>
            <td>Le :{{ t.dateDepart|date('d-m-Y')}} à: {{ t.dateDepart|date('H-m-s')}}</td>
            <td>{{ t.participation}}Dh</td> 
        </tr>
        
       {# <td><a href="{{ path('myapp_trajet_modifier', { 'id': t.id }) }}">Modifier</a></td>
        
       <td><a href="{{ path('myapp_trajet_supprimer', { 'id': t.id }) }}">Supprimer</a></td>
        #}        
{% else %}
            <tr><td>Aucun trajet n'a été trouvé.</td></tr>
{% endfor %}
        
</table>
{% endblock %}
